@import "tailwindcss";
@import "@heroui/styles";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;

  --primary: #7c3aed;
  --primary-foreground: #ffffff;

  --accent: #f97316;
  --accent-foreground: #ffffff;

  --secondary: #ecfeff;
  --secondary-foreground: #155e75;

  --muted: #f1f5f9;
  --muted-foreground: #64748b;

  --border: #e2e8f0;
}

.dark {
  --background: #0f172a;
  --foreground: #f8fafc;

  --primary: #8b5cf6;
  --primary-foreground: #ffffff;

  --accent: #fb923c;
  --accent-foreground: #ffffff;

  --secondary: #164e63;
  --secondary-foreground: #ecfeff;

  --muted: #1e293b;
  --muted-foreground: #94a3b8;

  --border: #334155;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-border: var(--border);
}
